<div>
    <input 
        placeholder="nombre" 
        type="text" 
        [(ngModel)]="clientsFilters.name"
        (input)="StartTyping()" 
        [disabled]="inputDisabled"
    />
    <input 
        placeholder="apellido" 
        type="text" 
        [(ngModel)]="clientsFilters.lastName"
        (input)="StartTyping()" 
        [disabled]="inputDisabled"
    />
    <input 
        placeholder="dni" 
        type="text" 
        [(ngModel)]="clientsFilters.dni"
        (input)="StartTyping()" 
        [disabled]="inputDisabled"
    />
    <input 
        placeholder="edad" 
        type="text" 
        [(ngModel)]="clientsFilters.age"
        (input)="StartTyping()" 
        [disabled]="inputDisabled"
    />
</div>